<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="jumbotron">
    <h2 class="display-4">안녕하세요, 여기서 글자를 세세요!</h2>
    <button type="button" class="btn btn-outline-primary"><a href="{%url 'about'%}">About</a></button>
    <hr class="my-4">
    

    <form action="{%url 'result'%}">
        <div class="form-group">
            <div class="col">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="fulltext"></textarea>
            </div>
        </div>

    <br>

    <input class="btn btn-outline-primary" type="submit" value="Count!">
</div>